.features-section{
    width:100%;
    padding:100px 120px;
    background:#021224;
    color:white;
    margin-top: 80px;
}

.features-header{
    text-align:center;
    margin-bottom:60px;
}

.features-header h2{
    font-size:42px;
    margin-bottom:15px;
    color:#dfe9ff;
}

.features-header p{
    color:#8894b3;
    font-size:18px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.feature-card{
    background:#07182e;
    border:1px solid rgba(255,255,255,0.08);
    border-radius:20px;
    padding:35px;
    transition:0.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px rgba(76,120,255,0.2);
}

.feature-icon{
    width:60px;
    height:60px;
    border-radius:15px;
    background:#263a72;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    color:white;
    margin-bottom:25px;
}

.green{
    background:#0f4a42;
}

.blue{
    background:#2c4278;
}

.feature-card h3{
    font-size:28px;
    margin-bottom:20px;
    color:#dfe9ff;
}

.feature-card p{
    color:#8894b3;
    line-height:1.7;
}