.footer{
    margin-top:40px;
    background:#081336;
    border-top:1px solid rgba(255,255,255,.08);
    padding:30px 35px;
}

.footer-top h3{
    color:#fff;
    margin-bottom:8px;
    font-size:22px;
}

.footer-top p{
    color:#9fb3d9;
    font-size:15px;
    margin-bottom:25px;
    line-height:1.6;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid rgba(255,255,255,.08);
    padding-top:20px;
    flex-wrap:wrap;
    gap:15px;
}

.footer-bottom p{
    color:#8fa6d8;
    font-size:14px;
}

.footer-links{
    display:flex;
    gap:25px;
}

.footer-links a{
    color:#8fa6d8;
    text-decoration:none;
    transition:.25s;
}

.footer-links a:hover{
    color:#4d8dff;
}