.journey{
    width:100%;
    min-height: 700px;
    padding:120px;
    background: #031427;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap: 100px;
}

.journey-left h2{
    color:white;
    font-size: 52px;
    margin-bottom: 60px;
}

.step{
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
}

.step-number{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #a8c3ff;
    color: #031427;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items:center;
}

.step h3{
    color: white;
    margin-bottom: 10px;
}

.step p{
    color: #92a0bb;
    line-height: 1.7;
}

.journey-right{
    flex: 1;
    display: flex;
    justify-content: center;
}

.journey-right img{
    width: 350px;
    border-radius: 30px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}