.latest-news{

    background:#0f1b33;
    border-radius:18px;
    padding:25px;
    margin-top:25px;
}

.news-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.news-header h2{

    color:white;
}

.show-more{

    color:#6da7ff;
    text-decoration:none;
    font-weight:600;
}

.show-more:hover{

    color:white;
}

.news-card{

    border-left:4px solid #4c7cff;
    padding-left:15px;
    margin-bottom:25px;
}

.news-time{

    color:#8ca2c9;
    font-size:13px;
    margin-bottom:8px;
}

.news-card h3{

    color:white;
    margin-bottom:10px;
    font-size:20px;
}

.news-card p{

    color:#c3d1ec;
    line-height:1.6;
}