.settings-page{
    padding:30px;
}

.settings-title{
    color:white;
    margin-bottom:30px;
    font-size:32px;
    font-weight:700;
}

.settings-card{
    background:#182449;
    border-radius:18px;
    border:1px solid rgba(255,255,255,.08);
    padding:30px;
    transition:.3s;
}

.settings-card:hover{
    transform:translateY(-4px);
    border-color:#3b82f6;
}

.account-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.settings-grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

/* AccountSettings */
.account-info{
    display:flex;
    align-items:center;
    gap:25px;
    flex:1;
}

.account-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.account-avatar{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#2563eb;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:36px;
    font-weight:700;
}

.account-details h2{
    color: white;
    font-size: 28px;
    margin: 0 0 8px;
}

.account-details p{
    color: #9db3d9;
    font-size: 16px;
    margin: 0 0 8px;
}

.account-details span{
    color: #cdd7ec;
    font-size: 15px;
}

.settings-btn{
    width:190px;
    height:52px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding:0;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.settings-btn:hover{
    background:#1d4ed8;
}

/* Appearance Setting */
.card-header{
    margin-bottom:25px;
}

.card-header h2{
    color:white;
    margin-bottom:8px;
}

.card-header p{
    color:#9db3d9;
}

.theme-options{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:18px;
}

.theme-box{
    background:#24314f;
    border:2px solid transparent;
    border-radius:16px;
    padding:25px;
    cursor:pointer;
    transition:.3s;
    text-align:center;
}

.theme-box:hover{
    transform:translateY(-4px);
    border-color:#3b82f6;
}

.active-theme{
    border-color:#2563eb;
    background:#1f3f73;
}

.theme-icon{
    font-size:40px;
    color:#3b82f6;
    margin-bottom:15px;
}

.theme-box h3{
    color:white;
    margin-bottom:10px;
}

.theme-box span{
    color:#9db3d9;
    font-size:14px;
}

/* Notification Settings */

.notification-list{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.notification-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#24314f;
    padding:18px;
    border-radius:14px;
}

.notification-item h4{
    color:white;
    margin-bottom:6px;
}

.notification-item span{
    color:#9db3d9;
    font-size:14px;
}

.notification-item input{
    width:20px;
    height:20px;
    cursor:pointer;
}

