.welcome-banner{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px;
    margin: 30px;
    background:linear-gradient(125deg, #111c44, #1b2d63);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}   

.welcome-text h1{
    color:#ffffff;
    font-size:34px;
    margin-bottom:10px;
}

.welcome-text span{
    color:#8ab4ff;
}

.welcome-text p{
    color:#b8c6e6;
    font-size:16px;
    line-height:1.7;
    width:600px;
}

.market-status{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 20px;
    background:rgba(0,255,100,0.12);
    border:1px solid rgba(0,255,100,0.3);
    border-radius:50px;
}

.status-dot{
    width:10px;
    height:10px;
    background:#31ff73;
    border-radius:50%;
}

.market-status p{
    color:white;
    font-weight:600;
}