.heatmap-card{
    background:#182548;
    border-radius:18px;
    padding:20px;
}

.heatmap-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.heatmap-header h3{
    color:white;
}

.heatmap-header span{
    color:#9fb2df;
    font-size:13px;
}

.heatmap-grid{
    display:grid;

    grid-template-columns:2fr 1.3fr 1.3fr 1fr;

    grid-template-rows:120px 80px;

    gap:10px;
}

.tile{
    border-radius:10px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;

    font-weight:600;

    transition:.3s;
}

.tile:hover{
    transform:scale(1.03);
}

.gain{
    background:#238b45;
}

.loss{
    background:#9e3137;
}

.large{
    grid-row:span 2;
}

.medium{
    grid-row:span 1;
}

.small{
    grid-row:span 1;
}

.tile h2{
    font-size:28px;
}

.tile p{
    margin-top:10px;
    font-size:22px;
}