.market-analysis{
    padding:30px;
}

.market-middle{
    display:grid;
    grid-template-columns:2fr 1.5fr;
    gap:25px;
    margin-top:30px;
}

.market-column{
    display:flex;
    flex-direction:column;
    gap:30px;
}